@mixin card {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 1px rgb(0 0 0 / 12%);

  h4 {
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: 400;
  }

  p {
    line-height: 19px;
    font-size: 13px;
  }
}

.card {
  @include card;

  &:hover {
    cursor: move;
  }
}
