@use "colors" as *;

@mixin tagTheme($backgroundColor, $color) {
  background-color: $backgroundColor;
  color: $color;
}

@mixin card {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 1px rgb(0 0 0 / 12%);

  h4 {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Nexa", sans-serif;
    color: $headings;
  }

  p {
    line-height: 19px;
    font-size: 15px;

    &.tag {
      padding: 2px 15px;
      border-radius: 100px;
      font-size: 13px;
      margin-top: 8px;
      display: inline-block;

      &.orange {
        @include tagTheme(rgb(186, 103, 0), rgb(255, 255, 255));
      }
      &.green {
        @include tagTheme(rgb(0, 186, 103), rgb(255, 255, 255));
      }
      &.blue {
        @include tagTheme(rgb(0, 103, 186), rgb(255, 255, 255));
      }
      &.red {
        @include tagTheme(rgb(186, 0, 0), rgb(255, 255, 255));
      }
      &.gray {
        @include tagTheme(rgb(186, 186, 186), rgb(0, 0, 0));
      }
      &.yellow {
        @include tagTheme(rgb(186, 186, 0), rgb(255, 255, 255));
      }
      &.lightblue {
        @include tagTheme(rgb(0, 186, 186), rgb(255, 255, 255));
      }
    }
  }
}

.card {
  @include card;

  &:hover {
    cursor: move;
  }
}
