<div class="container">
  <div class="lists-container">
    <div>
      <h2>To Do:</h2>
      <div
        id="todo"
        class="to-do-list"
        cdkDropList
        cdkDropListConnectedTo="completed"
        [cdkDropListData]="toDos"
        (cdkDropListDropped)="drop($event)"
      >
        <div cdkDrag class="to-do" *ngFor="let toDo of toDos">
          {{ toDo.title }}
        </div>
      </div>
    </div>
    <div>
      <h2>Completed:</h2>
      <div
        id="completed"
        class="to-do-list"
        cdkDropList
        cdkDropListConnectedTo="todo"
        [cdkDropListData]="completed"
        (cdkDropListDropped)="drop($event)"
      >
        <div cdkDrag class="to-do" *ngFor="let complete of completed">
          {{ complete.title }}
        </div>
      </div>
    </div>
  </div>
</div>
