@mixin to-do-list-item-content($bgColor) {
  padding: 10px 20px;
  background-color: $bgColor;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e6e6e6;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1100px;
  padding: 10px;

  .lists-container {
    display: flex;
    gap: 20px;

    @media (max-width: 480px) {
      flex-direction: column;
    }

    div {
      flex: 1;

      h2 {
        margin-bottom: 15px;
      }

      .to-do-list {
        min-height: 42.6px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .to-do {
          @include to-do-list-item-content(white);

          &:hover {
            cursor: grab;
          }
        }
      }
    }
  }
}

.cdk-drag-preview {
  @include to-do-list-item-content(rgba(255, 255, 255, 0.8));
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}
