<h2>{{ isEditing ? "Edit task" : "Create new task" }}</h2>
<form [formGroup]="form" #ngForm="ngForm" (ngSubmit)="createTak()">
  <fieldset>
    <label for="title">Title:</label>
    <input
      id="title"
      autocomplete="off"
      placeholder="Enter the title for your task"
      type="text"
      formControlName="title"
      [ngClass]="{
        'input-error': hasControlError('title')
      }"
    />
    <p class="error" *ngIf="hasControlError('title')">
      You have to enter a title.
    </p>
  </fieldset>
  <fieldset>
    <label for="description">Description:</label>
    <input
      id="description"
      autocomplete="off"
      placeholder="Provide some description for your task"
      type="text"
      formControlName="description"
      [ngClass]="{
        'input-error': hasControlError('description')
      }"
    />
    <p class="error" *ngIf="hasControlError('description')">
      You have to enter a description.
    </p>
  </fieldset>
  <fieldset>
    <label for="tag">Tag:</label>
    <div class="tag-selection">
      <div
        class="tag-selection__color"
        [ngClass]="{
          orange: getSelectedTagTheme() === 'orange',
          blue: getSelectedTagTheme() === 'blue',
          green: getSelectedTagTheme() === 'green',
          red: getSelectedTagTheme() === 'red',
          yellow: getSelectedTagTheme() === 'yellow',
          lightblue: getSelectedTagTheme() === 'lightblue',
          gray: getSelectedTagTheme() === 'gray'
        }"
      ></div>
      <select id="tag" formControlName="tag">
        <option *ngFor="let tag of tags" [value]="tag.value">
          {{ tag.label }}
        </option>
      </select>
    </div>
  </fieldset>
  <div class="action-buttons">
    <button type="button" [mat-dialog-close]="false">Cancel</button>

    <div class="action-buttons__primary">
      <button type="button" *ngIf="isEditing" (click)="deleteTask()">
        Delete
      </button>
      <button type="submit">
        {{ isEditing ? "Edit Task" : "Create Task" }}
      </button>
    </div>
  </div>
</form>
