@use "mixins" as *;
@use "colors" as *;
@use "responsive" as *;

@mixin tagTheme($backgroundColor, $color) {
  background-color: $backgroundColor;
  color: $color;
}

h2 {
  font-family: "Nexa", sans-serif;
  font-size: 26px;
  margin-bottom: 10px;
  color: $headings;
}

form {
  fieldset {
    border: none;
    padding: 0;
    margin: 0 0 15px 0;

    label {
      font-size: 17px;
      display: block;
      margin-bottom: 5px;
    }

    select,
    input {
      width: 100%;
      padding: 13px;
      font-size: 16px;
      border: 1px solid rgb(219, 219, 219);
      border-radius: 5px;
      margin: 5px 0;
      outline: none;
      font-family: inherit;
      color: rgb(108, 108, 108);

      &::placeholder {
        color: rgb(184, 184, 184);
      }

      &:hover {
        border: 1px solid rgb(113, 113, 113);
      }

      &:focus {
        border: 1px solid rgb(22, 78, 232);
      }

      &.input-error {
        border: 1px solid $error;
      }
    }

    .tag-selection {
      display: flex;
      gap: 10px;
      align-items: center;

      .tag-selection__color {
        width: 41px;
        height: 41px;
        margin: 5px 0;
        border-radius: 5px;

        &.orange {
          @include tagTheme(rgb(186, 103, 0), rgb(255, 255, 255));
        }
        &.green {
          @include tagTheme(rgb(0, 186, 103), rgb(255, 255, 255));
        }
        &.blue {
          @include tagTheme(rgb(0, 103, 186), rgb(255, 255, 255));
        }
        &.red {
          @include tagTheme(rgb(186, 0, 0), rgb(255, 255, 255));
        }
        &.gray {
          @include tagTheme(rgb(186, 186, 186), rgb(0, 0, 0));
        }
        &.yellow {
          @include tagTheme(rgb(186, 186, 0), rgb(0, 0, 0));
        }
        &.lightblue {
          @include tagTheme(rgb(0, 186, 186), rgb(0, 0, 0));
        }
      }

      select {
        padding: 9px;
      }
    }

    .error {
      font-size: 14px;
      color: $error;
      margin: 1px 0 0 10px;
    }
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;

    @include s-small {
      flex-direction: column-reverse;
      gap: 15px;
    }

    button[type="button"] {
      @include button(rgb(230, 236, 255), rgb(239, 242, 251), rgb(22, 78, 232));

      &:focus {
        outline: 1px solid rgb(22, 78, 232);
      }
    }

    .action-buttons__primary {
      display: flex;
      gap: 10px;

      @include s-small {
        flex-direction: column-reverse;
        gap: 15px;
      }

      button[type="submit"] {
        @include button(rgb(22, 78, 232), rgb(69, 114, 237), #fff);
        box-shadow: 0px 5px 17px -3px rgb(22 78 232 / 65%);

        &:focus {
          outline: 1px solid rgb(22, 78, 232);
        }
      }

      button[type="button"] {
        @include button(#fff, rgb(240, 240, 240), rgb(22, 78, 232));

        &:focus {
          outline: 1px solid rgb(22, 78, 232);
        }
      }
    }
  }
}
