<div class="header">
  <button (click)="createTask()">Create Task</button>
</div>
<div class="board">
  <app-board-column
    id="todo"
    columnTitle="TO DO"
    [tasks]="userTasks.todo"
    cdkDropList
    #toDoList="cdkDropList"
    [cdkDropListData]="userTasks.todo"
    [cdkDropListConnectedTo]="[inProgressList, doneList, blockedList]"
    (cdkDropListDropped)="handleDrop($event)"
    id="todo"
  ></app-board-column>

  <app-board-column
    id="inProgress"
    columnTitle="IN PROGRESS"
    [tasks]="userTasks.inProgress"
    cdkDropList
    #inProgressList="cdkDropList"
    [cdkDropListData]="userTasks.inProgress"
    [cdkDropListConnectedTo]="[toDoList, doneList, blockedList]"
    (cdkDropListDropped)="handleDrop($event)"
  ></app-board-column>
  <app-board-column
    id="blocked"
    columnTitle="BLOCKED"
    [tasks]="userTasks.blocked"
    cdkDropList
    #blockedList="cdkDropList"
    [cdkDropListData]="userTasks.blocked"
    [cdkDropListConnectedTo]="[inProgressList, doneList, toDoList]"
    (cdkDropListDropped)="handleDrop($event)"
  ></app-board-column>
  <app-board-column
    id="done"
    columnTitle="DONE"
    [tasks]="userTasks.done"
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="userTasks.done"
    [cdkDropListConnectedTo]="[inProgressList, blockedList, toDoList]"
    (cdkDropListDropped)="handleDrop($event)"
  ></app-board-column>
</div>
